<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Jenga Pizza</title>
    <style>
        @font-face {
            font-family: Prompt;
            src: url("fonts/Prompt-Regular.ttf");
        }

        body {
            font-family: "Prompt";
        }

        /* Background Image */
        body::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-image: url("https://t3.ftcdn.net/jpg/04/08/51/78/360_F_408517872_u7m4me8l83eenmUcsJ1ArSZymm5Unz4X.jpg");
            opacity: 0.1;
            z-index: -1;
        }

        /* Fix Flexbox Centering */
        .container-center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: calc(100vh - 60px); /* Adjust for navbar */
            padding-top: 60px; /* Ensure content is not hidden behind navbar */
        }

        .box {
            width: 80vw;
            padding: 30px;
            text-align: center;
            border-radius: 8px;
        }

        .box .row {
            display: flex;
            align-items: center; /* Center items vertically */
        }

        .pizza-card {
            border: none;
            transition: transform 0.2s;
            cursor: pointer;
            align-items: center;
        }

        .pizza-card img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            border-radius: 8px;
        }

        .btn-red {
            background-color: rgb(187, 62, 0);
            color: white;
        }

        .btn-red:hover {
            background-color: rgb(160, 50, 0);
            color: white;
        }

        .btn-grey {
            background-color: #e2e2e2;
            color: white;
        }

        .btn-grey:hover {
            background-color: #d0d0d0;
            color: white;
        }

        .input-groupappend {
            display: flex;
            justify-content: flex-end;
        }

        .textbox-wrapper .btn-add {
            border: 1px solid rgb(206, 212, 218);
            color: grey;
        }

        .btn-add svg {
            width: 24px;
            height: 24px;
            display: block;
        }

        .textbox-wrapper .btn-remove {
            border: 1px solid rgb(206, 212, 218);
            color: grey;
        }

        .btn-remove svg {
            width: 24px;
            height: 24px;
            display: block;
        }

        .quantity-field {
            width: 70px;
            text-align: center;
        }

        .btn-minus svg {
            color: grey;
            width: 24px;
            height: 24px;
            display: block;
        }

        .btn-plus svg {
            color: grey;
            width: 24px;
            height: 24px;
            display: block;
        }

        select, input[type="number"] {
            width: 100%;
            height: 45px;
            appearance: none;
            padding-right: 0;
            border: 2px solid grey;
            border-radius: 5px;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>

    <header>
        <%- include('header') %>
    </header>

    <!-- choose to buy -->
    <div class="container-center">
        <div class="box">
            <div class="row">
                <div class="col-md-6">
                    <div class="pizza-card p-3">
                        <img src="images\pizza.png" alt="พิซซ่า" class="mb-3">
                        <p style="text-align: center; font-size: 20px; font-weight: bolder; color: rgb(187, 62, 0);">399.00 บาท</p>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: left;">
                    <form>
                        <h2><b>สร้างพิซซ่าของคุณเอง</b></h2>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="validationTextarea" placeholder="ชื่อพิซซ่า" required>
                        </div>

                        <div class="mb-3">
                            <select id="flour-based" class="form-control" placeholder="ชนิดแป้ง" required>
                                <option value="">ชนิดแป้ง</option>
                                <option value="original">หนานุ่ม</option>
                                <option value="crispy">บางกรอบ</option>
                                <option value="cheese">ขอบชีส</option>
                                <option value="audi">ขอบไส้กรอก</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <select id="size" class="form-control" placeholder="ขนาดถาด" required>
                                <option value="">ขนาดถาด</option>
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <select id="size" class="form-control" placeholder="ซอส" required>
                                <option value="">ซอส</option>
                                <option value="signature">ซอสลับ</option>
                                <option value="marinara">ซอสมารินารา</option>
                                <option value="bbq">ซอสบาร์บีคิว</option>
                                <option value="spicy">ซอสเผ็ด</option>
                            </select>
                        </div>

                        <div class="textbox-wrapper">
                            <div class="input-group mb-3">
                                <select id="size" name="text_arr[]" class="form-control" placeholder="ท็อปปิ้ง" required>
                                    <option value="">ท็อปปิ้ง</option>
                                    <option value="ham">แฮม</option>
                                    <option value="cheese">ชีส</option>
                                    <option value="shrimp">กุ้ง</option>
                                    <option value="veggie">ผัก</option>
                                </select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-add add-textbox d-flex align-items-center justify-content-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="button-wrapper d-flex" style="justify-content: center;">
                            <div class="mb-3">
                                <a href="#"><button class="btn btn-red" type="submit" onclick="window.location.href='/category';">เสร็จสิ้น</button></a>
                                <a href="/category">
                                    <button class="btn btn-grey" type="button" onclick="window.location.href='/category';">ยกเลิก</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <%- include('footer') %>
    </footer>

    <script>
        $(document).ready(function() {
            var max = 10;
            var cnt = 1;
            $(".add-textbox").on("click", function(e){
                e.preventDefault();
                if(cnt < max){
                    cnt++;
                    $(".textbox-wrapper").append(
                        `<div class="input-group mb-3">
                            <select id="size" name="text_arr[]" class="form-control" placeholder="ท็อปปิ้ง" required>
                                <option value="">ท็อปปิ้ง</option>
                                <option value="ham">แฮม</option>
                                <option value="cheese">ชีส</option>
                                <option value="shrimp">กุ้ง</option>
                                <option value="veggie">ผัก</option>
                            </select>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-remove remove-textbox d-flex align-items-center justify-content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>`
                    );
                }
            });
            
            $(".textbox-wrapper").on("click", ".remove-textbox", function(e){
                e.preventDefault();
                $(this).parents(".input-group").remove();
                cnt--;
            });

            // Plus, minus button
            $(".btn-plus").on("click", function(e) {
                e.preventDefault();
                var $input = $(this).closest('.quantity-wrapper').find('input[name="quantity"]');
                var currentVal = parseInt($input.val(), 10);
                if (!isNaN(currentVal)) {
                    $input.val(currentVal + 1);
                } else {
                    $input.val(0);
                }
            });

            $(".btn-minus").on("click", function(e) {
                e.preventDefault();
                var $input = $(this).closest('.quantity-wrapper').find('input[name="quantity"]');
                var currentVal = parseInt($input.val(), 10);
                if (!isNaN(currentVal) && currentVal > 1) {
                    $input.val(currentVal - 1);
                } else {
                    $input.val(1);
                }
            });
        });

    </script>
</body>
</html>
