
<style>
    @font-face {
        font-family: Poppins;
        src: url("fonts/Poppins-Regular.ttf");
    }
    .footer-custom {
        background-color: black;
        padding: 20px 20px;
        color: white;
        left: 0;  bottom: 0;  width: 100%;
    }

    .footer-title {
        font-size: 24px;
        font-weight: bold;
    }

    .footer-heading {
        font-size: 16px;
        font-weight: bold;
        color: gray;
    }

    .footer-text {
        font-size: 14px;
        color: lightgray;
        margin: 5px 0;
    }

</style>

<div class="footer-custom" id="footer-custom">
    <h1 class="footer-title">ติดต่อเรา</h1>
    <div class="row">
        <!-- Get in Touch -->
        <div class="col-md-3 col-sm-6">
            <h5 class="footer-heading">Get in touch</h5>
            <p class="footer-text">jenga.pizza@esan.th</p>
            <p class="footer-text">66070014@kmitl.ac.th</p>
        </div>

        <!-- Connect -->
        <div class="col-md-3 col-sm-6">
            <h5 class="footer-heading">Connect</h5>
            <a href="https://www.facebook.com/karn.suddee.2024" target="_blank"><p class="footer-text">Facebook</p></a>
            <a href="https://www.instagram.com/kxxn_2y04/" target="_blank"><p class="footer-text">Instagram</p></a>
        </div>

        <!-- Design Services -->
        <div class="col-md-3 col-sm-6">
            <h5 class="footer-heading">Design Services</h5>
            <p class="footer-text">Thao Suranari (Ya Mo) Monument</p>
        </div>

        <!-- Ventures -->
        <div class="col-md-3 col-sm-6">
            <h5 class="footer-heading">Ventures</h5>
            <p class="footer-text">Rajadamnern Rd, Nai Mueang, Mueang Nakhon Ratchasima District, Nakhon Ratchasima 30000</p>
        </div>
    </div>
</div>

