
<style>
    @font-face {
        font-family: Poppins;
        src: url("fonts/Poppins-Regular.ttf");
    }
    .footer-custom {
        background-color: black;
        padding: 20px 20px;
        color: white;
        left: 0;  bottom: 0;  width: 100%;
    }

    .footer-title {
        font-size: 24px;
        font-weight: bold;
    }

    .footer-heading {
        font-size: 16px;
        font-weight: bold;
        color: gray;
    }

    .footer-text {
        font-size: 14px;
        color: lightgray;
        margin: 5px 0;
    }

</style>

<div class="footer-custom">
    <h1 class="footer-title">ติดต่อเรา</h1>
    <div class="row">
        <!-- Get in Touch -->
        <div class="col-md-3">
            <h5 class="footer-heading">Get in touch</h5>
            <p class="footer-text">business@pizzapizza.io</p>
            <p class="footer-text">hello@pizzapizza.io</p>
        </div>

        <!-- Connect -->
        <div class="col-md-3">
            <h5 class="footer-heading">Connect</h5>
            <p class="footer-text">LinkedIn</p>
            <p class="footer-text">Instagram</p>
        </div>

        <!-- Design Services -->
        <div class="col-md-3">
            <h5 class="footer-heading">Design Services</h5>
            <p class="footer-text">Pizza Pizza Design Services GmbH</p>
            <p class="footer-text">Dresdener Str. 22</p>
            <p class="footer-text">10999 Berlin, Germany</p>
        </div>

        <!-- Ventures -->
        <div class="col-md-3">
            <h5 class="footer-heading">Ventures</h5>
            <p class="footer-text">Pizza Pizza Ventures GmbH</p>
            <p class="footer-text">Dresdener Str. 22</p>
            <p class="footer-text">10999 Berlin, Germany</p>
        </div>
    </div>
</div>

