<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        @font-face {
            font-family: Mochi;
            /* font-style: NORMAL_OR_ITALIC; */
            /* font-weight: NUMERIC_WEIGHT_VALUE; */
            src: url("fonts/MochiyPopOne-Regular.ttf");
        }
        body {
            background-color: rgb(187, 62, 0);
            text-align: center;
            justify-content: center;
            justify-items: center;
            font-size: 100px;
            color: white;
            font-family: Mochi;
        }
        .custom-link {
            color: white;
            text-decoration: none;
        }

        .custom-link:hover {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div style="padding-top: 15%;">
            <img src="images/mdi_chef-hat.png" style="padding-left: 13%; margin-bottom: -12%;" alt="">
            <p><a href="/home" class="custom-link">Jenga</a></p>
        </div>
    </div>

</body>
</html>
